---
import HeaderLogo from "../header/HeaderLogo.astro"
import HeaderActions from "../header/HeaderActions.astro"
---

<header class="w-full absolute tracking-wide top-0 z-40">
  <nav
    class="px-4 sm:px-7 2xl:px-10 pb-2 xl:pb-4 2xl:pb-6 border-opacity-20 mt-6 xl:mt-8 2xl:mt-10  flex items-start justify-between"
  >
    <HeaderLogo />
    <HeaderActions />
  </nav>
</header>
