<div class="w-full z-10 relative">
  <div
    class="w-full flex flex-col gap-y-3 sm:mb-0 sm:gap-y-8 items-start sm:items-center sm:justify-center"
  >
    <h1
      class="leading-none tracking-tighter uppercase text-5xl sm:text-responsive font-bold text-titleDarkText w-full relative flex flex-col whitespace-nowrap duration-500"
    >
      <span aria-hidden="true" class="sm:pl-[13%] 2xl:pl-[16%] 4xl:pl-[21%]"
        >Hi there, i'm</span
      >
      <span
        aria-hidden="true"
        class="sm:pr-[13%] 2xl:pr-[16%] 4xl:pr-[21%] sm:text-right"
        >Jose Navarro</span
      >
    </h1>
    <p
      class="font-[400] text-textSecundary max-w-[38ch] text-start sm:text-center text-lg xl:text-2xl pl-1 sm:pl-0"
    >
      A freelance frontend developer & web designer propelling startup visions to reality.
    </p>
  </div>
</div>
