.section-heading {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .5s
}

@media (min-width: 640px) {
  .section-heading {
      font-size:5rem
  }
}

@media (min-width: 1024px) {
  .section-heading {
      font-size:5.65rem
  }
}

@media (min-width: 1440px) {
  .section-heading {
      font-size:7rem
  }
}

.link1 {
  display: flex;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.65,0,.35,1)
}

.group:hover .link1 {
  --tw-translate-y: -2rem;
  opacity: 0
}

.group:hover .link1,.link2 {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.link2 {
  position: absolute;
  inset: 0;
  --tw-translate-y: 2rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.65,0,.35,1)
}

.group:hover .link2 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (min-width: 1280px) {
  .link2 {
      --tw-translate-y:2.5rem;
      transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
}