@font-face {
  font-family: 'Overused Grotesk';
  src: 
    url('/fonts/overusedgrotesk-vf.woff2') format('woff2 supports variations'),
    url('/fonts/overusedgrotesk-vf.woff2') format('woff2-variations');
  font-weight: 350 400 500 600 700;
  font-display: swap;
}