---
import HeroContent from "../hero/HeroContent.astro"
import HeroRing from "../hero/HeroRing.astro"
---
<!-- mb-[-100svh] -->
<section class="py-0">
  <div class="h-svh flex items-end sm:items-center py-14 px-6 sticky top-0">
    <HeroRing />
    <HeroContent />
  </div>
</section>