---
import AboutBackground from "../about/AboutBackground.astro";
import AboutContent from "../about/AboutContent.astro";
import AboutCopy from "../about/AboutCopy.astro";
---

<section
  id="about"
  class="bg-dark section-padding"
>
  <div class="relative">
    <h2
      class="relative text-titleLightText section-heading mb-5 md:mb-10 z-30"
    >
      About me.
    </h2>
    <AboutBackground />
    <AboutContent />
  </div>
  <AboutCopy />
</section>
