<section
  id="services"
  class="bg-dark section-padding flex flex-col lg:flex-row items-start gap-x-12"
>
  <div class="flex flex-col gap-y-2 xl:gap-y-3 2xl:gap-y-4 w-full lg:w-1/2">
    <h2 class="relative text-titleLightText section-heading mb-5 md:mb-10 z-30">
      What I Do.
    </h2>
    <p class="pl-1 text-availableWork font-medium body-text max-w-[35ch]">
      My obsession is to deliver a digital experience that not only serves a
      great purpose, but give your business an unfair advantage.
    </p>
  </div>
</section>
