---
import HeroContent from "../hero/HeroContent.astro"
import HeroRing from "../hero/HeroRing.astro"
---
<!-- mb-[-100svh] -->
<section class="py-0">
  <div class="section-padding sticky top-0 flex h-svh items-end sm:items-center ">
    <HeroRing />
    <HeroContent />
  </div>
</section>